# Service to periodically reboot the robot

[Unit]
Description=Robot Rebooter
After=fake-hwclock.service
Requires=fake-hwclock.service

[Service]
Type=simple
ExecStartPre=/anki/bin/vic-log-event rebooter.service "Reboot time has arrived.  See you on the other side...."
ExecStartPre=/usr/bin/sleep 3
ExecStart=/usr/bin/systemctl reboot
